li{
    background-image: url("../img/uncheck.png") ;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 20px; 
    list-style: none;
}
.checked{
        background-image: url("../img/check.jpg") ;
        background-size: 15px 15px;
        background-repeat: no-repeat;
        padding-left: 20px;
        list-style: none;
}